
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>
</head>
<body>
    <div>
        <h1 style="color:red" >CALCULADORA</h1>
        <!-- Este objeto envia os dados do formulario para o servidor-->
        <!-- Este comentario aparece no cliente (browser)-->
        @* Mas este comentario ja nao aparece! *@
        <form method="post">

        </form>

    </div>
</body>
</html>